@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.footer{
    display: flex;
    gap: 75px;
    justify-content: center;
    padding-bottom: 2%;
    border-top: 1px solid #f2f2f2;
}

.logo{
    width: 5%;
    height: auto;
    cursor: pointer;
}

.footer p {
    font-family: 'Poppins';
    font-weight: bol;
}